﻿@using Common.Dac
@model Category
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-top bordered-darkorange">
                <span class="widget-caption">@Model.Name</span>
            </div>
            <div class="widget-body">
                <div class="collapse in">
                    <form action="@DACS.ReUrl(DACS.admin +"/danh-muc/cap-nhat.html","")" class="" method="post" accept-charset="utf-8">
                        <input type="hidden" class="form-control" value="@Model.ID" id="ID" name="ID">
                        <input type="hidden" class="form-control" id="Parent" value="@Model.Parent" name="Parent">
                        <div class="form-group">
                            <label for="definpu">@DACS.T("Tên")</label>
                            <input type="text" class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="@DACS.T("Tên danh mục")">
                        </div>
                        <div class="form-group">
                            <label for="definpu">@DACS.T("Mô tả")</label>
                            <textarea class="form-control" id="Describe" rows="3" value="@Model.Describe" name="Describe" placeholder="@DACS.T("Mô tả danh mục")">@Model.Describe</textarea>
                        </div>
                        <div class="form-group">
                            <label for="definpu">@DACS.T("Nơi hiển thị")</label>
                            <div class="form-inline">
                                <div class="checkbox">
                                    <label>
                                        <input checked="@Model.IsHeader" name="IsHeader" type="checkbox">
                                        <span class="text">Hiện thị ở Header</span>
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input checked="@Model.IsBody" name="IsBody" type="checkbox">
                                        <span class="text">Hiện thị ở Body</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="widget flat radius-bordered">
                                <div class="widget-header bordered-bottom bordered-themeprimary">
                                    <span class="widget-caption">@DACS.T("Chi tiết")</span>
                                    <div class="widget-buttons">
                                        <a href="#" data-toggle="maximize">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main no-padding">
                                        <textarea class="note-editor" name="Body" id="Body">@Html.Raw(Model.Body)</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="definpu">@DACS.T("Danh mục")</label>
                            <select class="productName form-control autoselect2" name="IDCategory">
                                @Html.Raw(ViewBag.Category)
                            </select>
                        </div>
                        <div class="form-group searchdropbox" data-npath="Image" data-multi="1" data-list=".List_image" data-item="#temp_img_item">
                            <label for="definpu">@DACS.T("Ảnh đại diện")</label>
                            <div class="List_image">
                                <div class="img_item img_item_choose">
                                    <img class="img_item" src="/admin/assets/img/drap.jpg" />
                                </div>
                                @if (!String.IsNullOrEmpty(Model.Image))
                                {
                                    <div class="img_item_add img_item">
                                        <button class="btn close btnclose_img">X</button>
                                        <img class="img-responsive" src="@DACS.StgPath(Model.Image)" />
                                        <input type="hidden" class="PathImage" value="@Model.Image" name="Image" />
                                    </div>
                                }
                                <input type="file" class="inputfile hidden" />
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <label for="definpu">@DACS.T("Link (nếu có)")</label>
                            <input type="text" class="form-control" id="definput" name="Url" value="@Model.Url" placeholder="Default Input">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-labeled btn-palegreen">
                                <i class="btn-label glyphicon glyphicon-ok"></i>@Common.Dac.DACS.T("Cập nhật")
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>