﻿@using Common.Dac
@model SliderInfor
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-top bordered-darkorange">
                <span class="widget-caption">@Model.Describe</span>
            </div>
            <div class="widget-body">
                <div class="collapse in">
                    <form action="@DACS.ReUrl(DACS.admin +"/slider-header/cap-nhat.html","")" class="" method="post" accept-charset="utf-8">
                        <input type="hidden" class="form-control" value="@Model.ID" id="ID" name="ID">
                        <div class="form-group">
                            <label for="definpu">@DACS.T("Tên slider")</label>
                            <input class="form-control" id="Name" value="@Model.Name" name="Name" placeholder="@DACS.T("Tên slider")" />
                        </div>
                        <div class="form-group">
                            <label for="definpu">@DACS.T("Link khi click vào slider")</label>
                            <input class="form-control" id="Link" value="@Model.Link" name="Link" placeholder="@DACS.T("Link nếu có")"/>
                        </div>
                        <div class="form-group">
                            <div class="widget flat radius-bordered">
                                <div class="widget-header bordered-bottom bordered-themeprimary">
                                    <span class="widget-caption">@DACS.T("Mô tả")</span>
                                    <div class="widget-buttons">
                                        <a href="#" data-toggle="maximize">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main no-padding">
                                        <textarea class="note-editor" name="Describe" id="Describe">@Html.Raw(Model.Describe)</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group searchdropbox" data-npath="ThumbPath" data-multi="1" data-list=".List_image" data-item="#temp_img_item">
                            <label for="definpu">@DACS.T("Ảnh đại diện")</label>
                            <div class="List_image">
                                <div class="img_item img_item_choose">
                                    <img class="img_item" src="/admin/assets/img/drap.jpg" />
                                </div>
                                @if (!DACS.IsEmpty(Model.ThumbPath))
                                {
                                    <div class="img_item_add img_item">
                                        <button class="btn close btnclose_img">X</button>
                                        <img alt="@Model.ThumbName" class="img-responsive" src="@DACS.StgPath(Model.ThumbPath)" />
                                        <input type="hidden" class="PathImage" value="@Model.ThumbPath" name="ThumbPath" />
                                    </div>
                                }
                                <input type="file" class="inputfile hidden" />
                            </div>
                          
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <button class="btn btn-labeled btn-palegreen">
                                <i class="btn-label glyphicon glyphicon-ok"></i>@Common.Dac.DACS.T("Cập nhật")
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>