﻿<!DOCTYPE html>
<html dir="ltr">
<head>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thể Hình Channel - Hướng dẫn tập thể hình, tập gym, fitness</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/xmlrpc.php" rel="pingback">
    <link href="images/THEHINHCOM.png" rel="icon" type="image/png">
    <meta content="Thể Hình Channel là trang chia sẻ các kiến thức tập thể hình, tập gym đẹp cho mọi người, giúp bạn nhanh chóng có được một body đẹp như mong đợi." name="description">
    <!-- META SEO BEGIN-->
    <meta content="noodp" name="robots">
    <link href="/" rel="canonical">
    <meta content="vi_VN" property="og:locale">
    <meta content="website" property="og:type">
    <meta content="Thể Hình Channel - Hướng dẫn tập thể hình, tập gym, fitness" property="og:title">
    <meta content="Thể Hình Channel là trang chia sẻ các kiến thức tập thể hình, tập gym đẹp cho mọi người, giúp bạn nhanh chóng có được một body đẹp như mong đợi." property="og:description">
    <meta content="/" property="og:url">
    <meta content="Thể Hình Channel - Hướng dẫn tập thể hình, tập gym, fitness" property="og:site_name">
    <meta content="images/su-dung-protein-trong-tap-gym.jpg" property="og:image">
    <meta content="458" property="og:image:width">
    <meta content="344" property="og:image:height">
    <meta content="summary" name="twitter:card">
    <meta content="Thể Hình Channel là trang chia sẻ các kiến thức tập thể hình, tập gym đẹp cho mọi người, giúp bạn nhanh chóng có được một body đẹp như mong đợi." name="twitter:description">
    <meta content="Thể Hình Channel - Hướng dẫn tập thể hình, tập gym, fitness" name="twitter:title">
    <meta content="thehinhcom" name="twitter:site">
    <meta content="images/su-dung-protein-trong-tap-gym.jpg" name="twitter:image">
    <meta content="thehinhcom" name="twitter:creator">
    <!-- META SEO END-->
    <link href='http://fonts.googleapis.com/css?family=Roboto%3A300%2C400%2C400italic%2C500%2C500italic%2C700%2C900%7COpen+Sans%3A300italic%2C400%2C400italic%2C600%2C600italic%2C700&#038;ver=4.7.3' id='google-fonts-style-css' media='all' rel='stylesheet' type='text/css'>

    @*<meta property="fb:app_id" content="@ConfigurationManager.AppSettings["FbAppID"]" />
        <meta property="fb:admins" content="@ConfigurationManager.AppSettings["FbUserID"]" />*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Assets/bootstrap/css.css")
    @Styles.Render("~/Assets/jquery/css.css")
    @Styles.Render("~/Assets/app/css.css")
    @Styles.Render("~/Assets/app/theme1css.css")
    @if (!Equals(ViewBag.Css, null))
    {
        @Styles.Render(ViewBag.Css)
    }
    <script>
           // td_js_generator - mini detector
           (function(){
               var htmlTag = document.getElementsByTagName("html")[0];

               if ( navigator.userAgent.indexOf("MSIE 10.0") > -1 ) {
                   htmlTag.className += ' ie10';
               }

               if ( !!navigator.userAgent.match(/Trident.*rv\:11\./) ) {
                   htmlTag.className += ' ie11';
               }

               if ( /(iPad|iPhone|iPod)/g.test(navigator.userAgent) ) {
                   htmlTag.className += ' td-md-is-ios';
               }

               var user_agent = navigator.userAgent.toLowerCase();
               if ( user_agent.indexOf("android") > -1 ) {
                   htmlTag.className += ' td-md-is-android';
               }

               if ( -1 !== navigator.userAgent.indexOf('Mac OS X')  ) {
                   htmlTag.className += ' td-md-is-os-x';
               }

               if ( /chrom(e|ium)/.test(navigator.userAgent.toLowerCase()) ) {
                  htmlTag.className += ' td-md-is-chrome';
               }

               if ( -1 !== navigator.userAgent.indexOf('Firefox') ) {
                   htmlTag.className += ' td-md-is-firefox';
               }

               if ( -1 !== navigator.userAgent.indexOf('Safari') && -1 === navigator.userAgent.indexOf('Chrome') ) {
                   htmlTag.className += ' td-md-is-safari';
               }

               if( -1 !== navigator.userAgent.indexOf('IEMobile') ){
                   htmlTag.className += ' td-md-is-iemobile';
               }

           })();

           var tdLocalCache = {};
           ( function () {
               "use strict";

               tdLocalCache = {
                   data: {},
                   remove: function (resource_id) {
                       delete tdLocalCache.data[resource_id];
                   },
                   exist: function (resource_id) {
                       return tdLocalCache.data.hasOwnProperty(resource_id) && tdLocalCache.data[resource_id] !== null;
                   },
                   get: function (resource_id) {
                       return tdLocalCache.data[resource_id];
                   },
                   set: function (resource_id, cachedData) {
                       tdLocalCache.remove(resource_id);
                       tdLocalCache.data[resource_id] = cachedData;
                   }
               };
           })();
       var tds_more_articles_on_post_enable="";
       var tds_more_articles_on_post_time_to_wait="";
       var tds_more_articles_on_post_pages_distance_from_top=0;
       var tds_theme_color_site_wide="#4db2ec";
       var tds_smart_sidebar="enabled";
       var tdThemeName="Newspaper";
    </script>
</head>
<body class="td_category_template_8 ">
    @Html.Partial("~/Views/Shared/Blocks/Theme1/Header.cshtml")
    @RenderBody();
    @Html.Partial("~/Views/Shared/Blocks/Theme1/Footer.cshtml")

    @Scripts.Render("~/Assets/jquery/js.js")
    @Scripts.Render("~/Assets/bootstrap/js.js")
    @Scripts.Render("~/Assets/app/js.js")
    @Scripts.Render("~/Assets/app/theme1js.js")
    @if (!Equals(ViewBag.Scripts, null))
    {
        @Scripts.Render(ViewBag.Scripts)
    }
    @RenderSection("scripts", false)
    <div id="Overlay" class="overlay"><sub></sub></div>
</body>
</html>