﻿<!DOCTYPE html>
<html dir="ltr">
<head>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<meta property="fb:app_id" content="@ConfigurationManager.AppSettings["FbAppID"]" />
    <meta property="fb:admins" content="@ConfigurationManager.AppSettings["FbUserID"]" />*@
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Assets/bootstrap/css.css")
    @Styles.Render("~/Assets/jquery/css.css")
    @Styles.Render("~/Assets/app/css.css")
    @Styles.Render("~/Assets/app/theme1css.css")
    @if (!Equals(ViewBag.Css, null))
    {
        @Styles.Render(ViewBag.Css)
    }
</head>
<body>
    @Html.Partial("~/Views/Shared/Blocks/Theme1/Header.cshtml")
    @Html.Partial("~/Views/Shared/Blocks/Theme1/Header_Slider.cshtml")
    @RenderBody();
    @Html.Partial("~/Views/Shared/Blocks/Theme1/Footer.cshtml")

    @Scripts.Render("~/Assets/jquery/js.js")
    @Scripts.Render("~/Assets/bootstrap/js.js")
    @Scripts.Render("~/Assets/app/js.js")
    @Scripts.Render("~/Assets/app/theme1js.js")
    @if (!Equals(ViewBag.Scripts, null))
    {
        @Scripts.Render(ViewBag.Scripts)
    }
    @RenderSection("scripts", false)
    <div id="Overlay" class="overlay"><sub></sub></div>
</body>
</html>