﻿.playlist-list .mgtp {
    margin-top: 0px !important;
}

.playlist-list .post-content {
    width: 70%;
}

#md-add-playlist .modal-body {
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
}

.playlist-list .post-title span {
    padding-left: 5px;
    opacity: 0.8;
    color: #777;
}


.view-playlist-item {
    font-size: 14px;
}

.box-tui-upload {
    border: 1px solid #d9d9d9;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .box-tui-upload .label-tui-upload {
        display: inline-block;
        text-align: left;
        margin-top: 6px;
        margin-bottom: 0px;
        color: #333;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-family: 'Roboto',Helvetica,Arial,sans-serif;
        line-height: 1.4;
    }

.label-tui-upload span.info_note {
    float: left;
    text-align: right;
    font-size: 11px;
    color: #767676;
}

.bg_upload .show_upload {
    position: relative;
    width: 510px;
    height: 24px;
    z-index: 1;
}

.bg_upload {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    background: #5c5c5c;
    height: 24px;
    line-height: 24px;
    text-align: center;
    webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
}

    .bg_upload .show_upload .box_text {
        position: absolute;
        width: 100%;
        height: 24px;
        z-index: 100;
        color: #FFFFFF;
    }

    .bg_upload .show_upload .bar {
        height: 24px;
        z-index: 99;
        position: absolute;
        width: 50%;
        background: #2882bc;
    }

.btn-label-sumbit {
    padding: 8px 40px;
    font-size: 18px;
}

.box_list_detail_infoupload {
    float: left;
    border: #dfdfdf solid 0px;
    padding: 10px 20px;
    background: #e5e5e5;
    margin: 20px 0 10px 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

    .box_list_detail_infoupload .box_title_info {
        font-weight: bold;
        font-size: 14px;
        padding: 10px 0;
        float: left;
        text-transform: uppercase;
    }

    .box_list_detail_infoupload p {
        float: left;
        margin: 0 0 5px 10px;
        width: 95%;
    }

.box-tui-upload h3 {
    padding-left: 15px;
    background: none;
    color: #2582be;
    transition: all 0.2s linear;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

.music-button a:hover {
    cursor: pointer;
}

.action-profile {
    float: right;
    padding-right: 5px;
}

.block-RenderBody,
.block-SlideTop {
    padding-top: 2px;
}

.tab-playlist-active {
    border: none;
}

.modal-logo {
    float: left;
    padding-right: 15px;
}

.modal-title {
    text-transform: uppercase;
    color: #fff;
}

.modal-header {
    background-color: #ff5500;
}

.music-categories .music-item {
    height: auto;
}

.login-page .form-top-left {
    padding-top: 25px;
}

.md-account .social-login-buttons {
    margin-top: 0px;
}

.md-account {
    padding-left: 15px;
    padding-right: 15px;
}


    .md-account .form-top-left h3, h4 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 15px;
    }

    .md-account .form-top-left p {
        font-size: 15px;
    }

    .md-account .form-top-left h3 {
        font-size: 20px;
        color: #19b9e7;
    }

    .md-account .btn-link-1.btn-link-1-twitter:hover {
        color: #fff;
    }

.btn-register-now {
    background: #19b9e7;
    width: 200px;
}

    .btn-register-now:hover {
        background: #19b9e7;
    }

.active-category {
    color: #ff5500 !important;
}

.modal-vov-custom .music-song-list .hpost:last-child {
    border-bottom: 1px solid #d7d7d7;
}

.modal-vov-custom .modal-footer.playList-Value {
    border-top: none;
    padding-top: 0px;
}

.modal-vov-custom .playlist-list {
    height: 150px;
}

.music-categories .section-title a {
    text-transform: uppercase;
}
