.tab_national_rank_kings {
    color: #333333;
    padding-top: 15px;
}

.tab_national_rank_select {
    float: left;
    height: 40px;
    background: #e5e5e5;
    padding: 0px 10px;
    margin-bottom: 10px;
    color: #737373;
    width: 100%;
}

    .tab_national_rank_select li {
        float: left;
        margin: 11px 20px 16px 0px;
    }

        .tab_national_rank_select li a.active {
            position: relative;
            padding: 0px 0px 10px 0px;
            margin: 11px 5px 13px 0px;
            height: 16px;
            font-size: 14px;
            padding: 0px 0px 8px 0px;
            border-bottom: #1abc9c solid 2px;
            color: #e74c3c;
        }

.label_header_h3 {
    padding-left: 15px;
    background: none;
    color: #2582be;
    transition: all 0.2s linear;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
}


.lerver_rank {
    float: left;
    width: 40px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    margin: 0px 0 0 0;
    font-size: 22px;
    color: #333333;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

    .lerver_rank .fa {
        padding-right: 5px;
    }

.table .rank_top1 {
    font-size: 35px;
    width: 40px;
    height: 40px;
    color: #e74c3c;
}

.table .rank_top2 {
    font-size: 35px;
    width: 40px;
    height: 40px;
    color: #1abc9c;
}

.table .rank_top3 {
    font-size: 35px;
    width: 40px;
    height: 40px;
    color: #f39c12;
}

.ranking_table .table td:last-child {
    border-bottom: 1px solid #ddd;
}

.ranking_table .img-responsive {
    max-width: 50%;
}

@media (max-width: 767px) {
    .ranking_table .img-responsive {
        max-width: 100%;
    }
}

.box_view_week {
    float: left;
    width: 100%;
    height: 50px;
    margin: 10px 0 0 0;
    background: #1abc9c;
    padding: 0 10px;
}

    .box_view_week a.prev {
        background-position: -97px -76px;
        float: left;
        margin-right: 10px;
    }

    .box_view_week h2 {
        float: left;
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
    }

    .box_view_week .active_play {
        float: right;
        padding: 0px;
        margin: 8px 9px 0 0;
        line-height: 24px;
        color: #FFFFFF;
        font-weight: bold;
    }
        .box_view_week .active_play .fa {
            font-size: 24px;
        }
            .box_view_week .active_play .fa:hover {
                color: #ff5500;
            }

.padding-fixed {
    margin: 0px;
}
