﻿.table  td{
    font-size:14px;
}    
.width10pt{
    width:10%
}
.width20pt{
    width:20%
}
.width30pt{
    width:30%
}
.width40pt{
    width:40%
}
.width50pt{
    width:50%
}
.width60pt{
    width:60%
}
.width70pt{
    width:70%
}

.widget .widget-header .widget-buttons
{
    padding-top:6px;
}
.img_item {
    max-width: 130px;
    margin:10px;
    float:left;
    height:130px;
    overflow:hidden;
}

.td-img-avatar{
 width: 70px;
    height: 60px;
    overflow: hidden;
}

.dataTables_paginate 
{
    margin-top:10px;
}
.dataTables_paginate .dropup
{
    position:relative !important;
    top:-12px !important;
   margin-right:10px;
}