﻿<div class="row">
    <div class="col-md-3">
        @RenderPage("~/Views/Shared/QuanLyThongTinTaiKhoan.cshtml")
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-10">
                <h3><a title="@Locate.T("Nhạc tôi Upload")" class="nomore" href=""> @Locate.T("Nhạc tôi Upload")</a></h3>
            </div>
            <div class="col-md-2">
                <div class=" btn-group btn-group-justified vov-btn tab-playlist-upload">
                    <a data-toggle="tab" href="#tab_playlist_music" class="btn btn-primary tab-playlist-active">@Locate.T("Bài hát")</a>
                    <a data-toggle="tab" href="#tab_playlist_videos" class="btn btn-default tab-playlist-active">@Locate.T("Videos")</a>
                </div>
                <script>

                </script>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tab_playlist_music">
                <div class="row">
                    <div class="col-md-12">
                        <div class="music-list-wrapper music-song-list mgtp">
                            <div class="hpost">
                                <div class="post-content">
                                    <div class="post-title">
                                        <a href="#">Cơn Mưa Cuối</a>
                                    </div>
                                    <div class="post-desc">
                                        <p>
                                            JustaTee , Binz
                                        </p>
                                    </div>
                                </div>
                                <div class="listen-count">
                                    <i class="fa fa-headphones" aria-hidden="true"></i> 1,293
                                </div>
                                <div class="pull-right music-button">
                                    <a href="#" class="fa fa-play"></a>
                                    <a href="#" class="fa fa-align-justify quickAddPlaylist"></a>
                                    <a href="#" class="fa fa-download"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="hpost">
                                <div class="post-content">
                                    <div class="post-title">
                                        <a href="#">Cơn Mưa Cuối</a>
                                    </div>
                                    <div class="post-desc">
                                        <p>
                                            JustaTee , Binz
                                        </p>
                                    </div>
                                </div>
                                <div class="listen-count">
                                    <i class="fa fa-headphones" aria-hidden="true"></i> 127
                                </div>
                                <div class="pull-right music-button">
                                    <a href="#" class="fa fa-play"></a>
                                    <a href="#" class="fa fa-align-justify"></a>
                                    <a href="#" class="fa fa-download"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="hpost">
                                <div class="post-content">
                                    <div class="post-title">
                                        <a href="#">Cơn Mưa Cuối</a>
                                    </div>
                                    <div class="post-desc">
                                        <p>
                                            JustaTee , Binz
                                        </p>
                                    </div>
                                </div>
                                <div class="listen-count">
                                    <i class="fa fa-headphones" aria-hidden="true"></i> 0
                                </div>
                                <div class="pull-right music-button">
                                    <a href="#" class="fa fa-play"></a>
                                    <a href="#" class="fa fa-align-justify"></a>
                                    <a href="#" class="fa fa-download"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="hpost">
                                <div class="post-content">
                                    <div class="post-title">
                                        <a href="#">Cơn Mưa Cuối</a>
                                    </div>
                                    <div class="post-desc">
                                        <p>
                                            JustaTee , Binz
                                        </p>
                                    </div>
                                </div>
                                <div class="listen-count">
                                    <i class="fa fa-headphones" aria-hidden="true"></i> 0
                                </div>
                                <div class="pull-right music-button">
                                    <a href="#" class="fa fa-play"></a>
                                    <a href="#" class="fa fa-align-justify"></a>
                                    <a href="#" class="fa fa-download"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="hpost">
                                <div class="post-content">
                                    <div class="post-title">
                                        <a href="#">Cơn Mưa Cuối</a>
                                    </div>
                                    <div class="post-desc">
                                        <p>
                                            JustaTee , Binz
                                        </p>
                                    </div>
                                </div>
                                <div class="listen-count">
                                    <i class="fa fa-headphones" aria-hidden="true"></i> 0
                                </div>
                                <div class="pull-right music-button">
                                    <a href="#" class="fa fa-play"></a>
                                    <a href="#" class="fa fa-align-justify"></a>
                                    <a href="#" class="fa fa-download"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="hpost">
                                <div class="post-content">
                                    <div class="post-title">
                                        <a href="#">Cơn Mưa Cuối</a>
                                    </div>
                                    <div class="post-desc">
                                        <p>
                                            JustaTee , Binz
                                        </p>
                                    </div>
                                </div>
                                <div class="listen-count">
                                    <i class="fa fa-headphones" aria-hidden="true"></i> 0
                                </div>
                                <div class="pull-right music-button">
                                    <a href="#" class="fa fa-play"></a>
                                    <a href="#" class="fa fa-align-justify"></a>
                                    <a href="#" class="fa fa-download"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="hpost">
                                <div class="post-content">
                                    <div class="post-title">
                                        <a href="#">Cơn Mưa Cuối</a>
                                    </div>
                                    <div class="post-desc">
                                        <p>
                                            JustaTee , Binz
                                        </p>
                                    </div>
                                </div>
                                <div class="listen-count">
                                    <i class="fa fa-headphones" aria-hidden="true"></i> 0
                                </div>
                                <div class="pull-right music-button">
                                    <a href="#" class="fa fa-play"></a>
                                    <a href="#" class="fa fa-align-justify"></a>
                                    <a href="#" class="fa fa-download"></a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tab_playlist_videos">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section section-table no-mgbt">
                            <div class="section-content">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="post-thumb">
                                                    <a href="#"><img class="img-responsive" src="/Assets/app/img/post/Main_ban-chuan_47.png"></a>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">Don’t wanna know</a>
                                                <p>Maroon 5</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="post-thumb">
                                                    <a href="#"><img class="img-responsive" src="/Assets/app/img/post/Main_ban-chuan_51.png"></a>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">Don’t wanna know</a>
                                                <p>Maroon 5</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="post-thumb">
                                                    <a href="#"><img class="img-responsive" src="/Assets/app/img/post/Main_ban-chuan_53.png"></a>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">Don’t wanna know</a>
                                                <p>Maroon 5</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="post-thumb">
                                                    <a href="#"><img class="img-responsive" src="/Assets/app/img/post/Main_ban-chuan_55.png"></a>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">Don’t wanna know</a>
                                                <p>Maroon 5</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="post-thumb">
                                                    <a href="#"><img class="img-responsive" src="/Assets/app/img/post/Main_ban-chuan_57.png"></a>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#">Don’t wanna know</a>
                                                <p>Maroon 5</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
