﻿@model ShopDetail.Models.GuestModel
<div class="mn-account">
    <div class="row">
        <div class="col-md-3">
            @RenderPage("~/Views/Shared/QuanLyThongTinTaiKhoan.cshtml")
        </div>
        <div class="col-md-9">
            <div class="box_right_user">
                <div class="col-md-5">
                    <h2>@Locate.T("Quản lý tài khoản")</h2>
                    <div class="box_detail_info border-box">
                        <div class="txt_sub_group">
                            @Locate.T("Giới thiệu")
                            <div class="box_user_action"><a data-toggle="modal" data-target="#md-upaccount" id="up-btnEdit" class="btn btn-default"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>@Locate.T("Chỉnh sửa")</a></div>
                        </div>
                        <div>
                            <p>@Locate.T("Họ và tên") :&nbsp; @Model.GuestDetail.Name</p>
                            <p>@Locate.T("Ngày sinh") :&nbsp; @Utils.DateToString(Model.GuestDetail.Birthday, "dd-MM-yyyy")</p>
                            <p>@Locate.T("Giới tính"):&nbsp; @(Equals(Model.GuestDetail.Gender, 1) ? "Name" : "Nữ")</p>
                            <p>@Locate.T("Địa chỉ") : &nbsp; @Model.GuestDetail.Address </p>
                            <p>@Locate.T("Tỉnh thành"):&nbsp; @Model.GuestDetail.Birthplace</p>
                            <p hidden>Số CMTND: 453.536.523</p>
                        </div>
                    </div>
                    <div class="box_detail_info border-box">
                        <div class="txt_sub_group">
                            @Locate.T("Tài khoản")
                        </div>
                        <div>
                            <p>@Locate.T("Tên tài khoản"):&nbsp; @Model.GuestDetail.Username</p>
                            <p>@Locate.T("Mật khẩu"):&nbsp;  @Locate.T("Đổi mật khẩu")</p>
                            <p>@Locate.T("Email"):&nbsp;  @Model.GuestDetail.Email</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="box_group_right">
                        <div class="box_list_item_video_album">
                            <span class="txt_sub_group">@Locate.T("Playlist") </span>
                            <ul class="usercp_list_playlist">
                                @if (!Utils.IsEmpty<Playlist>(Model.PlayLists))
                                {
                                    var countShow = 0;
                                    foreach (var item in Model.PlayLists)
                                    {
                                        var link = @Locate.Url("/play/{0}.html", Utils.StringAlias(item.Name, item.ID));
                                        countShow++;
                                        <li><a title="@item.Name" href="@link"><img src="@GlobalConfig.StgSrcThumb(item.ThumbPath,152,152)"></a></li>
                                        if (countShow.Equals(3))
                                        {
                                            break;
                                        }
                                    }
                                    if (Model.PlayLists.Count - 3 > 0)
                                    {
                                        <li>
                                            <a href="#" class="sum_cout_pl">
                                                <span class="count-number">@(Model.PlayLists.Count - 3)</span>@Locate.T("playlist")
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="box_list_item_video_album">
                            <span class="txt_sub_group">@Locate.T("Video")</span>
                            <ul class="usercp_list_video">
                                <li><a title="Điều Anh Biết - Chi Dân" href="#"><img src="http://avatar.nct.nixcdn.com/mv/2016/11/11/f/5/f/d/1478882286806_268.jpg"></a></li>
                                <li><a title="Người Cũ Còn Thương - Cao Thái Sơn" href="#"><img src="http://avatar.nct.nixcdn.com/mv/2016/11/03/6/b/7/7/1478161019490_268.jpg"></a></li>
                                <li>
                                    <a href="#" class="sum_cout_pl">
                                        <span class="count-number">2</span> video
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@RenderPage("~/Views/Account/ModalAccount.cshtml")
@RenderPage("~/Views/Account/ModalUpdateInfor.cshtml")
