﻿@using Common.Dac
@using ShopRetailModel.Models
@model ContentCategroryModel
@{
    var oCategoryRoot = Model.CategoryRoot ?? new Category();
    var ovContents = Model.ContentViews ?? new List<ProductViewModel>();
    var oCategories = Model.Categories ?? new List<Category>();
    var random = DateTime.Now.Ticks + "_";
}
<div class="wpb_column vc_column_container td-pb-span12">
    <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div class="td_block_wrap td_block_14 td-pb-full-cell td_with_ajax_pagination td-pb-border-top td_block_template_1">
                <div class="td-block-title-wrap">
                    <h4 class="block-title"><a class="td-pulldown-size" href="@DACS.ReUrl("/theloai/{0}.html",DACS.StringAlias(oCategoryRoot.Name, oCategoryRoot.ID))">@oCategoryRoot.Name</a></h4>
                </div>
                <div class="td_block_inner td-column-3">
                    @if (!DACS.IsEmpty(ovContents))
                    {
                        for (int i = 0; i < ovContents.Count; i += 3)
                        {
                            <div class="td-block-row">
                                @for (int it = 0; it < 3; it++)
                                {
                                    if (i + it < ovContents.Count)
                                    {
                                        var content = ovContents[i + it];
                                        <div class="td-block-span4">
                                            <div class="td_module_mx1 td_module_wrap td-animation-stack td-meta-info-hide">
                                                <div class="td-module-thumb">
                                                    <a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(content.Name, content.ID))" rel="bookmark" title="xxx"><img alt="xxx" class="entry-thumb" height="220" src="@DACS.StgPath(content.ThumbPath)" title="xxx" width="356"><span class="td-video-play-ico"><img alt="video" class="td-retina" height="40" src="images/icons/ico-video-large.png" width="40"></span></a>
                                                </div>
                                                <div class="td-module-meta-info">
                                                    <h3 class="entry-title td-module-title"><a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(content.Name, content.ID))" rel="bookmark" title="xxx">@DACS.Summary(content.Name,10)</a></h3>
                                                </div>
                                            </div>
                                        </div><!-- ./td-block-span4 -->
                                    }
                                }
                            </div><!--./row-fluid-->
                        }
                    }
                </div>
            </div><!-- ./block -->
        </div>
    </div>
</div>