﻿@using Common.Dac
@model ContentCategroryModel
<div class="wpb_column vc_column_container td-pb-span12">
    <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div class="td_block_wrap td_block_big_grid_1 td-grid-style-1 td-hover-1 td-pb-border-top td_block_template_1">
                <div class="td_block_inner">
                    <div class="td-big-grid-wrapper">
                        @{
                            var ovContents = Model.ContentViews;
                            if (!DACS.IsEmpty(ovContents))
                            {
                                var first = ovContents.First();
                                var index = 1;
                                <div class="td_module_mx5 td-animation-stack td-meta-info-hide td-big-grid-post-0 td-big-grid-post td-big-thumb">
                                    <div class="td-module-thumb">
                                        <a href="#" rel="bookmark" title="xxx"><img alt="xxx" class="entry-thumb" height="462" src="images/thuc-pham-khong-nen-bo-tu-lanh-534x462.jpg" title="xxx" width="534"></a>
                                    </div>
                                    <div class="td-meta-info-container">
                                        <div class="td-meta-align">
                                            <div class="td-big-grid-meta">
                                                <a class="td-post-category" href="@DACS.ReUrl("/theloai/{0}.html",DACS.StringAlias(first.CategoryName,first.IDCategory))"></a>
                                                <h3 class="entry-title td-module-title"><a href="@DACS.ReUrl("/noidung/{0}.html",DACS.StringAlias(first.Name,first.ID))" rel="bookmark" title="xxx">@first.Name</a></h3>
                                            </div>
                                            <div class="td-module-meta-info"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="td-big-grid-scroll">
                                    @foreach (var item in ovContents)
                                    {
                                        if (item.ID == first.ID)
                                        {
                                            continue;
                                        }
                                        <div class="td_module_mx6 td-animation-stack td-meta-info-hide td-big-grid-post-@index td-big-grid-post td-small-thumb">
                                            <div class="td-module-thumb">
                                                <a href="@DACS.ReUrl("/theloai/{0}.html", DACS.StringAlias(item.CategoryName, item.IDCategory))" rel="bookmark" title="xxx"><img alt="xxx" class="entry-thumb" height="198" sizes="(max-width: 265px) 100vw, 265px" src="@DACS.StgPath(item.ThumbPath)" title="xxx" width="265"><span class="td-video-play-ico"></span></a>
                                            </div>
                                            <div class="td-meta-info-container">
                                                <div class="td-meta-align">
                                                    <div class="td-big-grid-meta">
                                                        <a class="td-post-category" href="@DACS.ReUrl("/theloai/{0}.html", DACS.StringAlias(item.CategoryName, item.IDCategory))">@item.CategoryName</a>
                                                        <h3 class="entry-title td-module-title"><a href="@DACS.ReUrl("/noidung/{0}.html", DACS.StringAlias(item.Name, item.ID))" rel="bookmark" title="xxx">@item.Name</a></h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        index = index + 1;
                                    }
                                </div>
                            }
                        }
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div><!-- ./block -->
        </div>
    </div>
</div>