﻿@using Common.Dac
@model Product
<div class="single-products">
    <div class="productinfo text-center">
        <img src="@DACS.StgPath(Model.ThumbPath)" alt="@Model.ThumbName" />
        <h2>$56</h2>
        <h2>$56</h2>
        <p>@Model.Name</p>
        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
    </div>
    <div class="product-overlay">
        <div class="overlay-content">
            <h2>$56</h2>
            <p>Easy Polo Black Edition</p>
            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
        </div>
    </div>
    <img src="images/home/new.png" class="new" alt="" />
</div>