.vjs-button-next , .vjs-button-prev{
    outline: none;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 2em !important;
    flex: none;
}
.video .music-list-wrapper .itvideo.active{
    background: #e9f3f7;
}
.no-padding{
    padding :0px !important;
}