.profile {
    margin: 20px 0px 0px 0px;
}

    .profile .dropdown-menu > li {
        display: inline-flex;
    }

    .profile .dropdown-menu li.type {
        margin: 10px;
    }

    .profile input[type="checkbox"] {
        font-size: 20px;
        line-height: 20px;
        background: red;
        zoom: 1.6;
        position: relative;
        bottom: 4px;
    }

    .profile #form-search {
        margin-top: 8px;
    }

    .profile i.fa.fa-search-plus {
        margin-right: 3px;
    }

    .profile .input-group-btn button.btn-search {
        background: #b1acac;
    }

    .profile .container .grp-apb a {
        font-weight: 600;
        font-size: 18px;
        background: transparent;
        border: none;
        color: #444444;
    }

        .profile .container .grp-apb a:hover {
            text-decoration: none;
            color: #0689ba;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

.section-title .title_album {
    text-transform: uppercase;
}

#main-slider-profile {
    padding-bottom: 15px;
}
