﻿@{ 
    Layout = "";
}
@using Common.Dac
@model string
<!DOCTYPE html>
<!--
BeyondAdmin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.4
Version: 1.4
Purchase: http://wrapbootstrap.com
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Head-->
<head>
    <meta charset="utf-8" />
    <title>@DACS.T("Đăng nhập")</title>

    <meta name="description" content="login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/admin/assets/img/favicon.png" type="image/x-icon">

    <!--Basic Styles-->
    <link href="/admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="/admin/assets/css/font-awesome.min.css" rel="stylesheet" />

    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">

    <!--Beyond styles-->
    <link  href="/admin/assets/css/beyond.min.css" rel="stylesheet" />
    <link href="/admin/assets/css/demo.min.css" rel="stylesheet" />
    <link href="/admin/assets/css/animate.min.css" rel="stylesheet" />
    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <script src="/admin/assets/js/skins.min.js"></script>
</head>
<!--Head Ends-->
<!--Body-->
<body>
    <div class="login-container animated fadeInDown">
        <div class="loginbox bg-white">
            <div class="loginbox-title">@DACS.T("Đăng nhập")</div>
            <div class="loginbox-social">
                <div class="social-title ">@DACS.T("Đăng nhập với tài khoản xã hội")</div>
                <div class="social-buttons">
                    <a href="" class="button-facebook">
                        <i class="social-icon fa fa-facebook"></i>
                    </a>
                    <a href="" class="button-twitter">
                        <i class="social-icon fa fa-twitter"></i>
                    </a>
                    <a href="" class="button-google">
                        <i class="social-icon fa fa-google-plus"></i>
                    </a>
                </div>
            </div>
            <div class="loginbox-or">
                <div class="or-line"></div>
                <div class="or">OR</div>
            </div>
            <form class="" action="@DACS.ReUrl(DACS.admin+"/account/login/1.html","")" method="post" accept-charset="">
                <div class="loginbox-textbox">
                    <input type="text" class="form-control" name="UserName" placeholder="@DACS.T("Ten dang nhap")" />
                </div>
                <div class="loginbox-textbox">
                    <input type="text" class="form-control" name="PassWord" placeholder="PassWord" />
                </div>
                <div class="loginbox-forgot">
                    <a href="">@DACS.T("Quên mật khẩu")?</a>
                </div>
                <div class="loginbox-submit">
                    <input type="hidden" name="RedirectPath" value="@Model" />
                    <input type="submit" class="btn btn-primary btn-block" value="Login">
                </div>
                <div class="loginbox-signup">
                    <a href="register.html">@DACS.T("Đăng ký tài khoản mới")</a>
                </div>
            </form>
        </div>
        <div class="logobox">
        </div>
    </div>

    <!--Basic Scripts-->
    <script src="/admin/assets/js/jquery.min.js"></script>
    <script src="/admin/assets/js/bootstrap.min.js"></script>
    <script src="/admin/assets/js/slimscroll/jquery.slimscroll.min.js"></script>

    <!--Beyond Scripts-->
    <script src="/admin/assets/js/beyond.js"></script>


</body>
<!--Body Ends-->
</html>
