﻿@model String
<div class="md-account login-page">
    <div class="row">
        <div class="col-md-12">
            <div class="form-top-left">
                <h3>@Common.Dac.DACS.T("Đăng nhập")</h3>
                <p>@Common.Dac.DACS.T("Vui lòng điền tên người dùng và mật khẩu !")</p>
            </div>
            <div class="form-top-right">
                <i class="fa fa-key"></i>
            </div>
        </div>
    </div>
    <div class="row  mr-top30 mr-bt40">
        <div class="form-box col-md-6">
            <div class="form-bottom">
                <form role="form" id="frm-login" data-idmess="#li-message" action="@Locate.Url("/Account/login/{0}.html",Utils.StringAlias(Locate.T("facebook"),(int)GuestType.System))" method="post" class="login-form">
                    <input type="hidden" name="RedirectPath" value="@Model" />
                    <div class="form-group">
                        <p class="alert alert-danger hidden" id="li-message"></p>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-username">@Common.Dac.DACS.T("Tên đăng nhập") </label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
                            <input title="@Common.Dac.DACS.T("Tên đăng nhập")" required="required" type="text" name="Username" placeholder="@Common.Dac.DACS.T("Tên đăng nhập")..." class="form-username form-control" id="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-password">@Common.Dac.DACS.T("Mật khẩu")</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                            <input type="password" title="@Common.Dac.DACS.T("Mật khẩu")" required="required" name="Password" placeholder="@Common.Dac.DACS.T("Mật khẩu")..." class="form-password form-control" id="Password">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">@Common.Dac.DACS.T("Đăng nhập")</button>
                </form>
            </div>
        </div>
        <div class="social-login text-center col-md-6">
            <h4>@Common.Dac.DACS.T("Bạn chưa có tài khoản VOV ID?") </h4>
            <button class="btn btn-default btn-register-now" data-toggle="modal" data-target="#md-register">Đăng ký ngay</button>
            <h4>@Common.Dac.DACS.T("Hoặc đăng nhập với")</h4>
            <div class="social-login-buttons">
                <a class="btn btn-link-1 btn-link-1-facebook btn-social" data-modal="#md-login" data-link="@Locate.Url("/Account/login/{0}.html",Utils.StringAlias(Locate.T("facebook"),(int)GuestType.Facebook))" data-type="facebook" href="#">
                    <i class="fa fa-facebook"></i> Facebook
                </a>
                <a class="btn btn-link-1 btn-link-1-twitter btn-social" data-type="twitter" href="#">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                <a class="btn btn-link-1 btn-link-1-google-plus btn-social" data-type="google" href="#">
                    <i class="fa fa-google-plus"></i> Google Plus
                </a>
            </div>
        </div>
    </div>
</div>
<style>
   
</style>