﻿<div class="modal fade md-account" id="md-login" role="dialog">
    <div class="modal-dialog md-small">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-logo">
                    <img class="main-logo img-responsive" src="/assets/app/img/logo.PNG" alt="logo" style="width: 65px;">
                </div>
                <h4 class="modal-title">@Common.Dac.DACS.T("Đăng nhập tài khoản")</h4>
            </div>
            <div class="modal-body">
                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>@Common.Dac.DACS.T("Đăng nhập")</h3>
                            <p>@Common.Dac.DACS.T("Vui lòng điền tên người dùng và mật khẩu")</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" id="frm-login" data-idmess="#li-message" data-link="@Locate.Url("/Account/login/{0}.html",Utils.StringAlias(Locate.T("facebook"),(int)GuestType.System))" action="" method="post" class="login-form frm-reslogin">
                            <div class="form-group">
                                <p class="alert alert-danger hidden" id="li-message"></p>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">@Common.Dac.DACS.T("Tên đăng nhập") </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user-secret" aria-hidden="true"></i></span>
                                    <input required="required" type="text" name="Username" placeholder="@Common.Dac.DACS.T("Tên đăng nhập")..." class="form-username form-control" id="Username">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">@Common.Dac.DACS.T("Mật khẩu")</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                                    <input type="password" required="required" name="Password" placeholder="@Common.Dac.DACS.T("Mật khẩu")..." class="form-password form-control" id="Password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info">@Common.Dac.DACS.T("Đăng nhập")</button>
                        </form>
                    </div>
                </div>
                <div class="social-login text-center">
                    <h4>@Common.Dac.DACS.T("hoặc đăng nhập với")</h4>
                    <div class="social-login-buttons">
                        <a class="btn btn-link-1 btn-link-1-facebook btn-social" data-modal="#md-login" data-link="@Locate.Url("/Account/login/{0}.html",Utils.StringAlias(Locate.T("facebook"),(int)GuestType.Facebook))" data-type="facebook" href="#">
                            <i class="fa fa-facebook"></i> Facebook
                        </a>
                        <a class="btn btn-link-1 btn-link-1-twitter btn-social" data-type="twitter" href="#">
                            <i class="fa fa-twitter"></i> Twitter
                        </a>
                        <a class="btn btn-link-1 btn-link-1-google-plus btn-social" data-type="google" href="#">
                            <i class="fa fa-google-plus"></i> Google Plus
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade md-account" id="md-register" role="dialog">
    <div class="modal-dialog md-small">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-logo">
                    <img class="main-logo img-responsive" src="/assets/app/img/logo.PNG" alt="logo" style="width: 65px;">
                </div>
                <h4 class="modal-title">@Common.Dac.DACS.T("Đăng ký tài khoản")</h4>
            </div>
            <div class="modal-body">
                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>@Common.Dac.DACS.T("Đăng ký ngay")</h3>
                            <p>@Common.Dac.DACS.T("Điền đẩy đủ thông tin ở phía dưới"):</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" id="frm-register" action="#" data-mess="@Common.Dac.DACS.T("Xác nhận mật khẩu không đúng")" data-idmess="#lo-message" data-link="@Locate.Url("/Account/RegisterSystem/{0}.html",Utils.StringAlias(Locate.T("system"),(int)GuestType.System))" method="post" class="registration-form frm-reslogin">
                            <div class="form-group">
                                <p class="alert alert-danger hidden" id="lo-message"></p>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-name">@Common.Dac.DACS.T("Họ và tên")</label>
                                <input type="text" required="required" name="Name" placeholder="@Common.Dac.DACS.T("Họ và tên")..." class="form-name form-control" id="Name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-email">@Common.Dac.DACS.T("Email")</label>
                                <input type="text" required="required" name="Email" placeholder="@Common.Dac.DACS.T("Email")..." class="form-email form-control" id="Email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-first-name">@Common.Dac.DACS.T("Tên đăng nhập")</label>
                                <input type="text" required="required" name="Username" placeholder="@Common.Dac.DACS.T("Tên đăng nhập")" class="form-first-name form-control" id="Username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">@Common.Dac.DACS.T("Mật khẩu")</label>
                                <input type="password" required="required" name="Password" placeholder="@Common.Dac.DACS.T("Mật khẩu")" class="form-password form-control" id="Password">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-email">@Common.Dac.DACS.T("Nhập lại mật khẩu")</label>
                                <input type="password" required="required" name="RePassword" placeholder="@Common.Dac.DACS.T("Nhập lại mật khẩu")" class="form-password form-control" id="RePassWord">
                            </div>
                            <button type="submit" class="btn btn-info">@Common.Dac.DACS.T("Đăng ký")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade md-account" id="md-changepass" role="dialog">
    <div class="modal-dialog md-small">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@Common.Dac.DACS.T("Thay đổi mật khẩu")</h4>
            </div>
            <div class="modal-body">
                <div class="form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <p>@Common.Dac.DACS.T("Điền đẩy đủ thông tin ở phía dưới"):</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" id="frm-register" action="#" data-mess="@Common.Dac.DACS.T("Xác nhận mật khẩu không đúng")" data-idmess="#lo-message" data-link="@Locate.Url("/Account/ChangePassword/{0}.html",Utils.StringAlias(Locate.T("system"),(int)GuestType.System))" method="post" class="registration-form frm-reslogin">
                            <div class="form-group">
                                <p class="alert alert-danger hidden" id="lo-message"></p>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-first-name">@Common.Dac.DACS.T("Tên đăng nhập")</label>
                                <input type="text" title="@Common.Dac.DACS.T("Tên đăng nhập")" required="required" value="@(ViewBag.CUser != null ? ViewBag.CUser.Username:"")" disabled name="Username" placeholder="@Common.Dac.DACS.T("Tên đăng nhập")" class="form-first-name form-control" id="Username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">@Common.Dac.DACS.T("Mật khẩu cũ")</label>
                                <input type="password" title="@Common.Dac.DACS.T("Mật khẩu cũ")" required="required" name="OldPassword" placeholder="@Common.Dac.DACS.T("Mật khẩu cũ")" class="form-password form-control" id="OldPassword">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">@Common.Dac.DACS.T("Mật khẩu")</label>
                                <input type="password" title="@Common.Dac.DACS.T("Mật khẩu mới")" required="required" name="Password" placeholder="@Common.Dac.DACS.T("Mật khẩu")" class="form-password form-control" id="Password">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-email">@Common.Dac.DACS.T("Nhập lại mật khẩu")</label>
                                <input type="password" required="required" title="@Common.Dac.DACS.T("Nhập lại mật khẩu")" name="RePassword" placeholder="@Common.Dac.DACS.T("Nhập lại mật khẩu")" class="form-password form-control" id="RePassword">
                            </div>
                            <button type="submit" class="btn btn-info">@Common.Dac.DACS.T("Cập nhật")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
