﻿@model HomeModel
<div class="td-main-content-wrap td-main-page-wrap">
    <div class="td-container tdc-content-wrap">
        <div class="vc_row wpb_row td-pb-row">
            @Html.Partial("~/Views/Shared/Blocks/Template/Grid_Header.cshtml",Model.GridHeader?? new ContentCategroryModel())
        </div>
        <div class="vc_row wpb_row td-pb-row">
            <div class="wpb_column vc_column_container td-pb-span12">
                <div class="vc_column-inner">
                    <div class="wpb_wrapper">
                        @Html.Partial("~/Views/Shared/Blocks/Template/Tab_Single.cshtml", Model.TheHinhNam ?? new ContentCategroryModel())
                        <div class="clearfix"></div>
                        @Html.Partial("~/Views/Shared/Blocks/Template/Tab_Single.cshtml", Model.TheHinhNu ?? new ContentCategroryModel())
                        <div class="clearfix"></div>
                        @Html.Partial("~/Views/Shared/Blocks/Template/Tab_Single.cshtml", Model.LichTapGym ?? new ContentCategroryModel())
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vc_row wpb_row td-pb-row">
            @Html.Partial("~/Views/Shared/Blocks/Template/Grid_Video.cshtml", Model.VideoHuongDan ?? new ContentCategroryModel())
        </div>
        <div class="vc_row wpb_row td-pb-row">
            @Html.Partial("~/Views/Shared/Blocks/Template/List_Content.cshtml", Model.DinhDuongTheHinh ?? new ContentCategroryModel())
            @Html.Partial("~/Views/Shared/Blocks/Template/List_Content.cshtml", Model.KienThucTheHinh ?? new ContentCategroryModel())
        </div>
        <div class="vc_row wpb_row td-pb-row">
            @Html.Partial("~/Views/Shared/Blocks/Template/Tab_Single.cshtml", Model.TapYoga ?? new ContentCategroryModel())
        </div>
    </div>
</div>